<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            books
        </title>
    </head>
    <body>
        <h2>all books</h2>
        <div th:unless="${#lists.isEmpty(books)}" >
            <dl th:each="book: ${books}">
                <dt class="bookHeadline">
                    <span th:text="${book.title}">Title</span>
                    by
                    <span th:text="${book.author}">Author</span>
                    at
                    <span th:text="${book.importDate}">import date</span>
                </dt>
            </dl>
        </div>
        <div th:if="${#lists.isEmpty(books)}">
            <p>
                You have no books in your book list.
            </p>
        </div>
    </body>
</html>
